@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jua";
  src: url("../src//assets//fonts/jua/Jua-Regular.ttf");
}

#root {
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 10px;
  height:8px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.ant-btn {
  padding: 18px 25px!important;
}

.ant-input-number-group-addon{
  padding: 0px 0px!important;
}

.fundraining-custom-number-input > .ant-input-number-wrapper > .ant-input-number-in-form-item > .ant-input-number-input-wrap > input {
  font-size: 25px !important;
  text-align: center;
}